<html>
  <head>

  <title>The Best of ... on Hacker News</title>
  <meta name="description" content="The best comments on Hacker News, charts, PDF export.">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>

      body { font-family: verdana, sans-serif; background-color: #F6F6EF; padding: 0; margin: 0; height: 100%;}
      #body-wrapper { padding: 0 2em 1em 2em; }
      #form-wrapper table { margin: 0; background-color: #f60; font-size: smaller; padding: 5px; }
      form { margin: 0; }
      h3 { color: #444; }
      #chart-img { border:none; }
      #chart { margin: 0 0 1.5em 0; }
      #chart, form { text-align: center; }

      #form-wrapper a:link,
      #form-wrapper a:visited { color: white; text-decoration: none }
      #form-wrapper a:hover { text-decoration: underline; }

      .sliding-panel { background-color:white; border-bottom:1px solid #ccc; display:none;
               text-align:center; padding: .75em 0;font-size:smaller; color: #444; background-color: #e4e4ce;}

      #about table { border: none; border-collapse: collapse; display: inline-table; font-size: smaller; }
      #about td.col1 { text-align: right; padding-right: 1em; }
      #about td.col2 { text-align: left; }
      #about  a:link,
      #about  a:visited { color: #222; }
      

      .error { font-size:smaller; font-weight:bold; text-align: center; margin-top: 1.5em; }
      .error span { background-color: red; color:white; padding: 4px 5px;}

      #comments-wrapper { font-size: 10pt; color: black; margin-top: 1.5em; }
      .comment { margin-bottom: 3em; }
      .comment-header { color: #828282; }
      .comment-header  a:link,
      .comment-header  a:visited { color: #828282; text-decoration: none; }
      .comment-header a:hover { text-decoration: underline; }
      .comment-rank { font-weight: bold; color: #444; }
      .comment a:link,
      .comment a:visited { color: #828282; }
      #comments-wrapper p { margin: 0; }

      #menu { text-align: right; color: white; background-color: #993d00; line-height: 1.5; margin: 0; 
              list-style-type: none; padding-right: 2em; }
      #menu li { cursor: pointer; font-size: smaller; display: inline; padding-right:8px; }

      #permalink { font-size:smaller; color: #888; }

      #chart-wrapper { border: 1px solid #ddd; background-color: white;
                       padding: 10px; margin: 0 auto; width: 651px; position: relative; }
      #twitter-wrapper img { 
          position: absolute; display: block; border: none; right: 6px; top: 6px;
          box-shadow: 2px 2px 3px #aaa; 
          -moz-box-shadow: 2px 2px 3px #aaa; 
          -webkit-box-shadow: 2px 2px 3px #aaa; 
      }

      #bookmarklet a:link,
      #bookmarklet a:visited {
          background-color: #f60; 
          color: white; 
          padding: 8px 10px; 
          text-decoration: none;
          font-weight: bold;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -khtml-border-radius: 5px;
          box-shadow: 0 1px 3px #aaa;
          -moz-box-shadow: 0 1px 3px #aaa;
          -webkit-box-shadow: 0 1px 3px #aaa;
          -khtml-box-shadow: 0 1px 3px #aaa;
      }

  </style>
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23987516-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  </head>
  <body>
    <ul id="menu">
      <li onclick="hn.togglePermalink();">permalink</li>
      <li onclick="$('#bookmarklet').slideToggle(300);">bookmarklet</li>
      <li onclick="hn.toggleBestOfButton();">button</li>
      <li onclick="$('#about').slideToggle(300);">info</li>
    </ul>

    <div id="form-wrapper">
      <table width="100%" cellspacing="0">
        <tr>
          <td style="text-align:left;width:20%">
          </td>
          <td style="text-align: center;width:60%">
            <form action="" method="POST" id="target">
              The best
              <select name="limit" id="limit">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100" selected>100</option>
              </select>
              comments by <input type="text" id="username" name="username">
              <input class="not-field" name="show-html" type="submit" onclick="hn.generateChart(); return false;" value="Show" />
              <input class="not-field" name="show-pdf" type="button" onclick="$('#target').submit();" value="PDF eBook" />
            </form>
          </td>
          <td style="width:20%">
          </td>
        </tr>
      </table>
    </div>

    <div id="about" class="sliding-panel">
      <table>
        <tr>
          <td class="col1">powered by</td>
          <td class="col2">
            <a href="http://www.hnsearch.com/api">hnsearch</a> and 
            <a href="http://pdfcrowd.com/html-to-pdf-api/">pdfcrowd</a>
          </td>
        </tr>
        <tr>
          <td class="col1">source</td><td class="col2"><a href="https://github.com/pdfcrowd/hnstuff">https://github.com/pdfcrowd/hnstuff</a></td>
        </tr>
        <tr>
          <td class="col1">feedback</td><td class="col2"><a href="mailto:redpill27@gmail.com">redpill27@gmail.com</a></td>
        </tr>
      </table>
      <!-- powered by  -->
      <!-- <a href="http://www.hnsearch.com/api">hnsearch</a> and  -->
      <!-- <a href="http://pdfcrowd.com/html-to-pdf-api/">pdfcrowd</a> | -->
      <!-- <a href="https://github.com/pdfcrowd/hnstuff">source</a> | -->
      <!-- feedback: <a href="mailto:redpill27@gmail.com">redpill27@gmail.com</a> -->
    </div>

    <div id="permalink" class="sliding-panel">
      <input readonly="readonly" type="text" value="" size="60";/> 
    </div>

    <div id="bookmarklet" class="sliding-panel">
      <div style="margin: 0 auto; width: 640;">
        Drag the button below to your browsers toolbar. When you are
        on a user's account page, simply click the button to see
        his/her best comments.
      </div>
      <br />
      <a href="javascript: (function(){var m=window.location.href.match(/^http:\/\/news.ycombinator.com\/user\?id=([a-zA-Z0-9_-]+)$/); if(m) window.location.href='http://bitovod.com/hn/best-of?username=' + m[1];})()">
          HN Best of
      </a>
      <br/>
      <br/>
    </div>

    <div id="bestof-button" class="sliding-panel">
      <textarea rows="5" cols="80" readonly="readonly">
        <a href="">..
      </textarea>
      <div id="best-of-button-example" style="padding: 1.5em 0 .75em 0;">
      </div>
    </div>


  
    <div id="body-wrapper">


    <div id="error-box" class="error">
      <% if (c.error !== undefined) { %>
        <span><%= c.error %></span>
      <% } %>
    </div>

    <noscript>
      <div class="error">
        <span>This page requires JavaScript enabled.</span>
      </div>
    </noscript>

    <div id="chart" style="display:none">
      <h3>Distribution of Comments</h3>
      <div id="chart-wrapper">
        <img id="chart-img" usemap="#chart-map" />
      <div id="twitter-wrapper">
        <a href=""><img width="48" height="48"/></a>
      </div>
      </div>
      <div style="font-size: smaller; color: #888; margin-top: 1.5em;">
        The markers are clickable, the size is proportional to the comment length.
      </div>
    </div>

   
      <div id="comments-wrapper">

      </div>
      
      <p id="query-result">
      </p>
    </div>
      
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
     <script type="text/javascript" src="/hn/js/underscore-min.js"></script>
     <script type="text/javascript" src="/hn/js/date.js"></script>
     <script type="text/javascript" src="/hn/js/hncharts.js"></script>
     <script type="text/javascript" src="/hn/js/comment_charts.js"></script>
  </body>
</html>
