<html>
  <head>

  <title>The Best of ... on Hacker News</title>
  <meta name="description" content="The best comments on Hacker News, charts, PDF export.">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      body { font-family: verdana, sans-serif; background-color: #F6F6EF; padding: 0; margin: 0; height: 100%;}
      #body-wrapper { padding: 0 2em 1em 2em; }
      #form-wrapper table { margin: 0; background-color: #f60; font-size: smaller; padding: 5px; }
      form { margin: 0; }
      h3 { color: #444; }
      #chart { margin: 0 0 3em 0; }
      #chart img { border: 1px solid #ddd; padding: 10px; background-color: white; }
      #chart, form { text-align: center; }

      #form-wrapper a:link,
      #form-wrapper a:visited { color: white; text-decoration: none }
      #form-wrapper a:hover { text-decoration: underline; }

      #about { background-color:white; border-bottom:1px solid #ccc; display:none;
               text-align:center; padding: .75em 0;font-size:smaller; color: #444; background-color: #e4e4ce;}

      #about  a:link,
      #about  a:visited { color: #222; }

      .error { font-size:smaller; font-weight:bold; text-align: center; margin-top: 1.5em; }
      .error span { background-color: red; color:white; padding: 4px 5px;}

      #comments-wrapper { font-size: 10pt; color: black; margin-top: 1.5em; }
      .comment { margin-bottom: 3em; }
      .comment-header { color: #828282; }
      .comment-header  a:link,
      .comment-header  a:visited { color: #828282; text-decoration: none; }
      .comment-header a:hover { text-decoration: underline; }


      .comment-rank { font-weight: bold; color: #444; }
      .comment a:link,
      .comment a:visited { color: #828282; }
      #comments-wrapper p { margin: 0; }

  </style>
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23987516-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  </head>
  <body>
    <div id="form-wrapper">
      <table width="100%" cellspacing="0">
        <tr>
          <td></td>
          <td style="text-align: center;">
            <form action="" method="POST" id="target">
              The best
              <select name="limit" id="limit">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100" selected>100</option>
              </select>
              comments by <input type="text" id="username" name="username">
              <input class="not-field" name="show-html" type="submit" onclick="hn.generateChart(); return false;" value="Show" />
              <input class="not-field" name="show-pdf" type="button" onclick="$('#target').submit();" value="PDF E-book" />
            </form>
          </td>
          <td style="text-align: right; padding-right: 20px; color: white;"><a href="#" onclick="$('#about').slideToggle(300);return false;">about</a></td>
        </tr>
      </table>
    </div>

    <div id="about">
      powered by 
      <a href="http://www.hnsearch.com/api">hnsearch</a> and 
      <a href="http://pdfcrowd.com/html-to-pdf-api/">pdfcrowd</a> |
      <a href="https://github.com/pdfcrowd/hnstuff">source</a> |
      feedback: <a href="mailto:redpill27@gmail.com">redpill27@gmail.com</a>
    </div>

    <div id="error-box" class="error">
      <% if (c.error !== undefined) { %>
        <span><%= c.error %></span>
      <% } %>
    </div>

    <noscript>
      <div class="error">
        <span>This page requires JavaScript enabled.</span>
      </div>
    </noscript>

    
    <div id="body-wrapper">
      <div id="chart" style="display:none">
        <h3>Distribution of Comments</h3>
        <img usemap="#chart-map"></img><br/>
        <p style="font-size: smaller; color: #888;">The markers are clickable, the size is proportional to the comment length.</p>
      </div>



      <div id="permalink" style="font-size:smaller; color: #888">
      </div>
    
      <div id="comments-wrapper">

      </div>
      
      <p id="query-result">
      </p>
    </div>
      
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
     <script type="text/javascript" src="/hn/js/underscore-min.js"></script>
     <script type="text/javascript" src="/hn/js/hncharts.js"></script>
     <script type="text/javascript" src="/hn/js/comment_charts.js"></script>
  </body>
</html>
